[submodule "O`Reilly/Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow/handson-ml3"]
	path = O`Reilly/Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow/handson-ml3
	url = https://github.com/ageron/handson-ml3.git
